<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <link rel="canonical" href="/" />
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="robots" content="all" />
    <meta name="googlebot" content="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#fff" />
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ author }}" />
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:site_name" content="{{ title }}"/>
    <meta property="og:url" content="/"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:url" content="/"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
    <meta name="apple-mobile-web-app-title" content="{{ title }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}" />
</head>
<body>
    <div id="app">

    </div>
    <script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
